/*seccion para body**/
body {
    font-family: cursive;
    font-size: 14px;
    line-height: 20px;
}

header {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li.item-menu {
    margin: 0px 40px 0px 0px;
}

section#bitacora-horizontal {
    display: flex;
}

#box-capitan img{
    width: 1020px;
}

#capitan {
    display: flex;
    justify-content: center;
}

body main section figure picture#box-capitan {
    display: flex;
    justify-content: center;
    background: #dfdfdf;
    padding: 61px 0px;
}

footer {
    text-align: center;
}